html {
    --color-dark-grey: #333333;
    --color-medium-grey: #888888;
    --color-light-grey: #BBBBBB;
    --color-off-white: #EEEEEE;
    background: linear-gradient(135deg, var(--color-off-white) 60%, var(--color-light-grey));
    min-height: 100%;

}

body {
    overflow-x: hidden;
    width: 100%;
}

#body-container {
    color: var(--color-dark-grey);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5em 0 5em 0;
    min-height: 40em;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
}

h1 {
    font-size: 5em;
}

#selection-buttons {
    display: flex;
    justify-content: space-around;
    padding: 2em 0;
}

input[type='image'] {
    max-height: 10em;
    margin: 0 1em;
    outline: none;
}

#info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 43.75em;

    font-size: 1.25em;
}

#results {
    height: 2em;
    padding-bottom: 1em;
}

#scores {
    display: flex;
    justify-content: space-around;
    padding: 1.5em 0;
    width: 100%;
}

#final-results {
    height: 2em;
}

#play-again {
    background-color: var(--color-medium-grey);
    color: var(--color-off-white);
    font-size: 1.3em;
    border: none;
    padding: .5em .5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    box-shadow: 1px 1px 3px var(--color-dark-grey);
    outline: none;
    border-radius: 3px;
}

#play-again:hover {
    cursor: pointer;
}

@media only screen and (max-width: 800px) {
    #selection-buttons {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    input[type='image'] {
        padding: 1em 0;
    }

    #info {
        width: auto;
    }

    #scores {
        width: auto;
    }

    #results {
        height: 4em;
        width: auto;
        padding: 0 1em;
    }

    #scores {
        flex-direction: column;
    }
    
}